body {
  font-family: "Noto Sans", sans-serif, serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

.container {
  max-width: 1200px !important;
}

.hl {
  margin: 2rem auto;
  padding: 50px;
  position: relative;
}

.hl:before,
.hl:after {
  position: absolute;
  font-size: 50px;
  color: #ffffff;
  font-weight: 700;
}

.hl:before {
  content: url(assets/bg-corner-left.png);
  top: 15px;
  left: 15px;
}

.hl:after {
  content: url(assets/bg-corner-right.png);
  bottom: 0;
  right: 15px;
}

.hl-1 {
  background: url(assets/bg1.png) center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hl-2 {
  background: url(assets/bg2.png) center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  margin: 0 auto;
  padding-top: 2rem;
  font-weight: 700;
  font-size: 2rem;
}

.hl-title {
  color: #fff;
  text-decoration: underline;
  line-height: 2.2;
}

.hl-sub {
  color: #fff;
  line-height: 2.2;
}

.point01-process {
  padding: 1rem 3rem;
}

.custom-card {
  margin: 0 auto;
  margin-top: 1.5rem;
}

.card.custom-card {
  border: none;
  text-align: center;
}

.badge-step {
  position: absolute;
  top: 40px;
  left: 0;
  font-size: 26px;
  font-weight: 100;
  background-color: #ff8086 !important;
}

.point01,
.point03 {
  border-bottom: 1px solid #ddd;
}

.benefits {
  max-width: 800px;
  margin: 0 auto;
}

.list-benefits > li {
  border-bottom: 1px solid #ddd;
  padding: 1rem 0;
  list-style-image: url(assets/check.png);
}

.list-recommend {
  background-color: #fff7f7;
  padding: 3rem 0;
}

.list-recommend > li {
  padding: 0.8rem;
  list-style-image: url(assets/check.png);
  list-style-position: inside;
}

.list-certification {
  list-style: none;
  padding: 1rem;
}

.list-certification > li {
  padding: 4rem 0;
}
.title-float {
  padding-top: 1em;
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 1.2;
}

.point3-img {
  width: 100%;
  margin-bottom: 1rem;
}

.point3-control > h5 {
  padding: 0.8em 0;
}

.point4-head {
  position: relative;
  height: 100%;
}

.point4-ing {
  list-style: none;
  padding: 1rem 0;
}
ul.point4-ing li {
  height: 13rem;
  border-bottom: 1px solid #ddd;
  margin: 1rem 0;
}
.certification {

}
.certificate-img {
  background: url(assets/certification.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  color: #fff;
}

.certification > .row > .col > p {
  vertical-align: middle;
}
section {
  padding: 2rem 0;
}

section > .row {
  padding-top: 1em;
}

section.dermatest {
  background-color: #f4f4f4;
}

section.how-to-use {
  background-color: #f9f9f9;
}
.brandhis legend {
  float: none;
  width: fit-content;
  border: 1px solid #403025;
  border-radius: 40px;
  padding: 0 1rem;
  background-color: #403025;
  color: #fff;
}

.brandhis fieldset {
  border: 1px solid #b1b1b1;
  margin: 0 auto;
  width: 96%;
}

.list-certification > li > img {
  width: 100%;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 280px) {
  .head-bg {
    background: url(assets/header.jpg) center center;
    background-repeat: no-repeat;
    background-size: 295px 426px;
    min-height: 470px;
  }

  .title-float {
    font-size: 1rem;
  }

  .point01-process {
    font-size: 0.8rem;
  }

  ul.point4-ing li {
    height: 16rem;
  }
}

@media (min-width: 475px) {
  .head-bg {
    background: url(assets/header.jpg) center center;
    background-repeat: no-repeat;
    background-size: 395px 526px;
    min-height: 570px;
  }

  .title-float {
    font-size: 2rem;
  }
}

@media (min-width: 575px) {
  .title-float {
    padding-top: 0;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .list-certification > li > img {
    width: 227px;
  }
  .head-bg {
    background: url(assets/header.jpg) center center;
    background-repeat: no-repeat;
    background-size: 495px 691px;
    min-height: 691px;
  }
}

@media (min-width: 992px) {
  .point01-process {
    font-size: 20px;
  }

  .step {
    position: relative;
  }

  .step:before {
    position: absolute;
    content: url(assets/steps.png);
    bottom: 50%;
    left: -20px;
  }

  .point3-img {
    max-width: 480px;
    width: 480px;
  }

  .title-float {
    font-size: 3rem;
    padding-top: 0;
  }

  .title-float ~ div.small {
    font-size: 1.2em;
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
